@use '../global/mixins.scss' as mixins;
@use '../global/variables.scss' as vars;


$sidebar-list-bg: #3d68a0;

.sidebar {
	@include mixins.full-size;
	@include mixins.flex-column;
	padding: 0.5rem;

	border-top-right-radius: 1rem;
	border-right: 1px solid;
	border-top: 1px solid;
	border-color: vars.$border-transparent-light;
	backdrop-filter: blur(8px);
	background-color: vars.$background-transparent-light;
	
	&__menu {
		@include mixins.full-size;
		background-color: vars.$background-transparent-light;
		padding: 0.5rem 1rem;
		border-radius: 0px 0.5rem 0.5rem 0.5rem;
	}
	
	h2 {
		font-weight: normal	;
	}

	& > section {
		width: 100%;
		min-height: 5rem;
		height: fit-content;
		margin-bottom: 1rem;

    & > span {
      font-weight: normal;
    }
	}

	&__list {
		font-size: 0.80rem;
		width: 100%;
		min-height: 8rem;
		border: 1px solid transparent;
		border-radius: 0.25rem;
		background-color: $sidebar-list-bg;
		&:hover {
			border-color: blue;
			}
	}
	&__subtitle {
		font-weight: normal;
	}

	&__curriculums {
    font-size: 1rem;
		margin-bottom: 1rem;
		&__list {
			font-size: 0.80rem;
		}
		&__subtitle {
			font-weight: normal;
		}
	}

	&__today {
		height: fit-content;
	}
}
