@use '../global/mixins.scss' as mixins;
@use '../global/variables.scss' as vars;


.sidebar {
	@include mixins.full-size;
	@include mixins.flex-column;
	padding: 0.5rem;

	border-top-right-radius: 1rem;
	border-right: 1px solid;
	border-top: 1px solid;
	border-color: vars.$border-transparent-light;
	backdrop-filter: blur(8px);
	background-color: vars.$background-transparent-light;
	
	&__menu {
		@include mixins.full-size;
		background-color: vars.$background-transparent-light;
		padding: 0.5rem 1rem;
		border-radius: 0px 0.5rem 0.5rem 0.5rem;
	}
	
	h2 {
		font-weight: normal	;
	}

	& > section {
		width: 100%;
		min-height: 5rem;
		height: fit-content;

    & > span {
      font-weight: normal;
    }
	}

	&__curriculums {
    &__list {
			.react-select__control {
				background-color: vars.$background-transparent-light;
				border: 1px solid vars.$border-transparent-light;
				border-radius: 0.5rem;
				padding: 0.25rem;
				font-size: 1rem;
				cursor: pointer;
			}

			.react-select__menu {
				background-color: vars.$background-transparent-light;
				border-radius: 0.5rem;
			}

			.react-select__option {
				&:hover {
					background-color: vars.$sidebar-button-hover;
				}
			}
    }
		&__title {
			font-weight: normal;
		}
	}

	&__courses {
		height: fit-content;
    &__list {
      width: 100%;
      min-height: 8rem;
      background-color: vars.$sidebar-lists-bg;
      border-radius: 0.5rem;
    }
		&__title {
			font-weight: normal;
		}
	}

	&__today {
		height: fit-content;
	}
}
