@use '../global/mixins.scss' as mixins;
@use '../global/variables.scss' as vars;


.course_item {
	@include mixins.content-height;
	font-size: 1rem;
	color: white;
  text-align: center;
  background-color: #fff4;
  margin-bottom: 1rem;

	&__title {
		color: white;
	}

	&__class_groups {
		@include mixins.content-height;
		@include mixins.flex-row;
	}
	&__class_group {
		@include mixins.content-height;
		@include mixins.text-padding;
		background-color: transparent;
		border-radius: 0.25rem;
    border: 1px solid black;
    font-size: 0.75rem;
    width: fit-content;
		
    &:active {
			background-color: gray;
			color: white;
		}
	}
}

