@use '../global/variables' as vars;
@use '../global/mixins' as mixins;


.App_aside {
  @include mixins.flex(column, flex-start, center);
  min-height: 100%;
  height: vars.$calendar-content-height;
  align-items: center;
  flex: 7;
  padding-right: 1rem;
  margin: auto;
}

.App_content {
  height: 100%;
  flex: 33;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}