@use 'mixins';
@use 'variables';


/* Use background image located in assets folder */

.App_main {
  width: 100%;
  height: calc(100% - 7rem);;
  @include mixins.flex(row, normal, center);
}

.App_header {
	height: 7rem;
	width: 100%;
	margin-bottom: 2rem;
}

.App_aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 7;
  padding-right: 1rem;
}

.App_content {
  flex: 33;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}