$background-transparent-light: #fff2;
$border-transparent-light: #fff4;
$header-searchbar-color-transparent: #fff4;

$calendar-scrollbar-color: #fff4;
$calendar-scrollbar-color-hover: #fff6;
$calendar-scrollbar-track-color: #0002;
$calendar-days-row-bg: #0003;
$sidebar-lists-bg: #88d4;
$sidebar-button-border-hover: rgba(0, 0, 0, 0.2);
$color-1: #2faaf7;
