$background-transparent-light: #fff2;
$border-transparent-light: #fff4;
$header-searchbar-color-transparent: #fff4;

$calendar-scrollbar-color: #fff3;
$calendar-scrollbar-color-hover: #fff5;
$calendar-scrollbar-track-color: #0001;
$calendar-days-row-bg: #0003;
$sidebar-lists-bg: #88d4;
$sidebar-button-hover: #fff1;
