@use '../../global/mixins.scss' as mixins;
@use '../../global/variables.scss' as vars;


.tabs {
	@include mixins.full-size;
	@include mixins.flex-column;
	&__nav {
		@include mixins.flex-row;
		justify-content: start;
		align-items: center;
		height: 2rem;
	}
	&__button {
		@include mixins.center-content;
		@include mixins.text-padding;
		display: inline-block;
		background-color: transparent;
		border: none;
		border-radius: 0.5rem 0.5rem 0px 0px;
		width: fit-content;
		height: 2rem;
		transition: border-color 0.2s ease;
		
		&:hover {
			text-decoration: underline;
		}

		&.active {
			background-color: vars.$background-transparent-light;
		}
	}


	&__content {
		@include mixins.flex-column;
		@include mixins.content-height;
		justify-content: center;
		align-items: center;
		height: calc(100% - 2rem);
	}
}
