@use 'mixins';
@use 'variables';


.sidebar {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	border-top-right-radius: 1rem;
	border-right: 1px solid;
	border-top: 1px solid;
	border-color: variables.$border-transparent-light;
	backdrop-filter: blur(8px);

	background-color: variables.$background-transparent-light;
	padding: 1rem;

	h2 {
		font-weight: normal	;
	}

	& > section {
		width: 100%;
		min-height: 5rem;
		height: fit-content;

    & > span {
      font-weight: normal;
    }
	}

	&__curriculums {
    &__list {
      width: 100%;
      min-height: 3rem;
      height: fit-content;
      background-color: variables.$sidebar-lists-bg;
      border-radius: 0.5rem;
    }
	}

	&__courses {
		height: fit-content;
    &__list {
      width: 100%;
      min-height: 8rem;
      background-color: variables.$sidebar-lists-bg;
      border-radius: 0.5rem;
    }
	}
}
