@use 'mixins';
@use 'variables';


.sidebar {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	border-top-right-radius: 1rem;
	border-right: 1px solid;
	border-top: 1px solid;
	border-color: variables.$border-transparent-light;
	backdrop-filter: blur(8px);

	background-color: variables.$background-transparent-light;
	padding: 1rem;

	h2 {
		font-weight: normal	;
	}

	& > section {
		width: calc(100% - 2rem);
		min-height: 5rem;
		height: fit-content;
	}

	&__curriculums {
		&__title {
			font-weight: normal;
		}
	}

	&__courses {
		min-height: 8rem;
	}
}