// UCurriculum.scss
@use '../global/mixins.scss' as mixins;
@use '../global/vars.scss' as vars;


.u-curriculum {
	width: 100%;
	min-height: 4rem;
	height: fit-content;

	font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}