@use '../global/mixins.scss' as mixins;
@use '../global/variables.scss' as vars;


.sidebar {
	@include mixins.glass-effect;
	height: 100%;
	width: 25rem;

	padding: 0.5rem;
	border-radius: 0 0.5rem 0 0;
	border-right: 1px solid;
	border-top: 1px solid;
	
	&__menu {
		width: 100%;
		height: 100%;
		background-color: vars.$background-transparent-light;
		padding: 0.5rem 1rem;
		border-radius: 0 0.5rem 0.5rem 0.5rem;
	}
	
	h2 {
		font-weight: normal	;
	}

	& > section {
		width: 100%;
		min-height: 5rem;
		height: fit-content;
		margin-bottom: 1rem;

    & > span {
      font-weight: normal;
    }
	}

	&__list {
    @include mixins.flex(column, flex-start, stretch);
		font-size: 0.80rem;
		min-height: 8rem;
		max-height: 35rem;
    padding: 0.5rem;
		border: 1px solid transparent;
		border-radius: 0.25rem;
		background-color: #3d68a0;
		overflow-y: scroll;
		&:hover {
			border-color: blue;
		}
	}
	&__subtitle {
		font-weight: normal;
	}

	&__curriculums {
    font-size: 1rem;
		margin-bottom: 1rem;
		&__list {
			font-size: 0.80rem;
		}
		&__subtitle {
			font-weight: normal;
		}
	}

	&__today {
		height: fit-content;
	}
}
