@use '../../global/variables' as vars;
@use '../../global/mixins' as mixins;

.calendar__status_header {
  @include mixins.flex(row, space-between, center);
  @include mixins.text-light;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1rem;

  &__title {
    position: absolute;
    top: -1rem;
    left: 1rem;
    font-size: 1.5rem;
    font-weight: inherit;
  }

  &__metrics {
  }

  &__export {
    & * {
      margin: 0 0.5rem;
    }
    &_button {
      @include mixins.text-light;
      color: black;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      &[export-type="image"]{
        background-color: mediumslateblue;
      }
      &[export-type="excel"]{
        background-color: lightseagreen;
      }
    }

  }
}